@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&family=Poppins:wght@200;300;400;500;700;900&display=swap');

/*font-family: 'Poppins', sans-serif;*/

body{font-family: 'Inter', sans-serif;
color: #3c3768;}

header{ position: relative; }
.banner-img{
  position: absolute;
}

.search-icon{

}
.search-icon button{
background: #9e586e; 
background: -moz-linear-gradient(left,  #9e586e 0%, #2989d8 0%, #9d586e 0%, #f57674 100%); 
background: -webkit-linear-gradient(left,  #9e586e 0%,#2989d8 0%,#9d586e 0%,#f57674 100%); 
background: linear-gradient(to right,  #9e586e 0%,#2989d8 0%,#9d586e 0%,#f57674 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e586e', endColorstr='#f57674',GradientType=1 );
border-radius: 50%;
color: #fff;
padding: 0 0;
width: 45px;
height: 45px;
line-height: 45px;
box-shadow: 0 0 10px #9d586e;
}
.search-icon .dropdown-toggle: :after {
  content: none;
}

.search-icon button:hover{
  color: #fff;
}

.search-icon .dropdown-menu {
  top: 100%;
  right: 0;
  left: inherit;
  padding: 0 0 !important;
}

.navbar-toggler{
border-color: rgb(0 0 0 / 0%) !important;
}
.navbar-toggler span{
width: 30px;
height: 3px;
background: white;
display: block;
margin: 5px 0;
transition-duration: 0.3s;
}

.navbar-toggler span:nth-child(even){
  width: 20px;
}
.navbar-toggler:hover span{
  width: 30px;
}

.navbar-toggler:focus {
  outline: 0 dotted;
  outline: 0 auto -webkit-focus-ring-color;
}

.banner-content{ 
max-width: 480px;
margin-top: 300px; }
.banner-content h1{
  font-size: 50px;
  color: #3c3768;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;

}
.banner-content p{
  line-height: 1.8;
  font-size: 18px;
}
..banner-content h5{
    line-height: 1.8;
  font-size: 20px;

}
.form-inline{}
.form-inline div{
  margin-right: 10px;
}
.form-inline div input{
  padding: 10px 20px;
  height: auto;
  border: 0;
  box-shadow: 0 5px 25px #fa78754d; 
}
.form-inline button{

padding: 10px 20px;
height: auto;
border: 0;
box-shadow: 0 5px 25px #fa78754d; 
font-size: 20px;
font-weight: 600;
transition-duration: 0.4s;
position: relative;

background: #9e586e; 
background: -moz-linear-gradient(left,  #9e586e 0%, #2989d8 0%, #9d586e 0%, #f57674 100%); 
background: -webkit-linear-gradient(left,  #9e586e 0%,#2989d8 0%,#9d586e 0%,#f57674 100%); 
background: linear-gradient(to right,  #9e586e 0%,#2989d8 0%,#9d586e 0%,#f57674 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e586e', endColorstr='#f57674',GradientType=1 );

}
.form-inline button::before{
  content: "";
    
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
z-index: 1;
transition:all 0.4s ease;

background: -moz-linear-gradient(left,  #f57674 0%, #9d586e 100%, #2989d8 100%, #9e586e 100%); 
background: -webkit-linear-gradient(left,  #f57674 0%,#9d586e 100%,#2989d8 100%,#9e586e 100%); 
background: linear-gradient(to right,  #f57674 0%,#9d586e 100%,#2989d8 100%,#9e586e 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57674', endColorstr='#9e586e',GradientType=1 ); 
}
.form-inline input:focus{  }
.form-inline button:focus{
  outline: none;
  border-color: #80bdff00;
  box-shadow: 0 10px 25px #fa78754d;
}
.form-inline button:hover{color: #fff;}
.form-inline button:hover::before {
 width: 100%;


}

.form-inline button span{
  z-index: 2;
  position: relative;
}

.service-section{
  padding: 100px 0;
  position: relative;
}
.service-section img{
  position: absolute;
  max-width: 750px;
  top:50%;
  transform: translateY(-50%);
}
.service-section .row{}
.service-section .row .service-box{
  box-shadow: 0 10px 20px #fa78754d;
  padding: 40px;
      margin-top: 58px;
    margin-left: 23px;
}
.service-section .row > div h2{
  font-size: 30px;
}
.service-section .row > div p{
  font-size: 16px;
  line-height: 1.7;
}
.service-section .row > div a{
  color: #fa7875;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  font-size: 15px;
}
.service-section .row > div a i .fa-minus{
  margin-left: 6px;
  margin-right: 2px;
  font-size: 13px;
}
.service-section .row > div a i{
  transition-duration: 0.3s
}
.service-section .row > div a:hover i{
  transform: translateX(10px);
}

.service-section .row > div a:hover{
  text-decoration: none;

}
.align-right img{
  right: 0;
  left: auto;

}

footer{

}
footer > img {
  position: absolute;
  z-index: -1;
}

footer .signup-section{
  background-image: url(../images/illustration04.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  color: #fff;
}

.social{}
.social li{
  margin-top: 20px;
}
.social li a{
  background-color: #322e57;
  color: #fff;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  display: block;
  margin-left: 10px;
  border-radius: 50%
}
.social li a:hover{}